@import url('https://fonts.googleapis.com/css?family=Itim');
@import "./common/constants";

body {
  margin: 0;
  padding: 0;
  font-family: 'Itim', cursive;
  font-size: $font-size-medium;
  color: $color-font;
}

* {
  box-sizing: border-box;
  flex-shrink: 0;

  &:after,
  &:before {
    white-space: pre;
  }

  @mixin player($color-player) {
    color: $color-player;

    &.active {
      background-color: $color-player;
      color: white;
    }
  }

  &.player-0 {
    @include player($color-player-0);
  }

  &.player-1 {
    @include player($color-player-1);
  }

  &.player-2 {
    @include player($color-player-2);
  }

  &.player-3 {
    @include player($color-player-3);
  }

  &.player-4 {
    @include player($color-player-4);
  }

  &.player-5 {
    @include player($color-player-5);
  }
}

input,
button {
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  border: none;
  background: none;
}
