@import "../../common/constants";

.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(/background.jpg) no-repeat center;
    background-size: cover;
    filter: blur(4px);
    margin: -8px;
  }

  .main {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgba($color-background, .75);
  }

  .dialogContainer {
    z-index: 4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(black, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .2s;

    &:empty {
      background-color: rgba(black, 0);
      pointer-events: none;
    }

    .dialog {
      width: 28rem;
      height: 14rem;
      background-color: $color-background;
      box-shadow: 0 0 8px rgba($color-hint, .5);
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .question {
        margin-bottom: 1rem;
        text-align: center;
      }

      .answer {
        margin-bottom: 1rem;
        padding: .5rem .8rem;
        border: 2px solid;
        background-color: white;
      }

      .empty {
        flex: 1
      }

      .buttons {
        display: flex;
        justify-content: flex-end;

        .button {
          padding: .5rem .8rem;
          display: flex;
          flex-direction: column;
          cursor: pointer;
          align-items: center;
          font-weight: bold;
          background-color: white;
          border: 2px solid;
          margin-right: 1rem;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
