@import "../../common/constants";

.App {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $color-background;

  .dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32rem;
    height: 16rem;
    margin-left: -16rem;
    margin-top: -8rem;
    background-color: white;
    box-shadow: 0 0 8px rgba(#888888, .5);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .question {
      margin-bottom: 1rem;
      text-align: center;
    }

    .answer {
      margin-bottom: 1rem;
    }
  }
}
