@import "../../common/constants";

.Territory {
  position: absolute;
  height: $territory-height;
  width: $territory-width;
  border-radius: $territory-width;
  margin-top: -$territory-height/2;
  margin-left: -$territory-width/2;
  padding: .5em;
  border: .2em solid $color-unclaimed;
  color: $color-unclaimed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  font-size: .64vw;
  transition: all .2s;

  .flag {
    width: 2.4em;
    height: 2.4em;
  }

  .name {
    font-weight: bold;
    font-size: .8em;
    margin-bottom: .5em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .armies {

  }

  &.from,
  &.to {
    transform: scale(1.2);
    box-shadow: 0 0 1em .1em;
  }

  &.from {
    z-index: 2;
  }

  &.to {
    z-index: 1;
  }

  &.enabled {
    box-shadow: 0 0 1em .1em;
  }
}
