$territory-width: 8.125em;
$territory-height: $territory-width;

$color-background: #f0f0f0;
$color-font: #444444;
$color-hint: #888888;

$color-player-0: #ef5350;
$color-player-1: #ab47bc;
$color-player-2: #5c6bc0;
$color-player-3: #29b6f6;
$color-player-4: #26a69a;
$color-player-5: #9ccc65;
$color-unclaimed: $color-hint;

$font-size-largest: 1.5rem;
$font-size-large: 1.25rem;
$font-size-medium: 1rem;
$font-size-small: 0.75rem;
