@import "../../common/constants";

.Game {
  flex: 1;
  display: flex;
  overflow-y: auto;

  .sidebar {
    width: 32vw;
    padding: 2rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-background;
    box-shadow: 0 0 8px rgba($color-hint, .5);
    overflow-y: auto;

    .title {
      align-self: center;
      font-size: $font-size-largest;
      font-weight: bold;
      text-align: center;
      margin-bottom: 2rem;
    }

    .players {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      margin: 0 -1rem 2rem;

      .player {
        flex: 1;
        padding: 1rem;
        display: flex;
        border-bottom: 2px solid $color-hint;
        flex-wrap: wrap;

        &:first-child {
          border-top: 2px solid $color-hint;
        }

        .turn {
          font-weight: bold;
        }

        .name {
          flex: 1;
          font-weight: bold;
          display: flex;
          align-items: center;
          margin-right: .5rem;

          &.you {
            &:after {
              content: '(You)';
              margin-left: .5rem;
              font-weight: normal;
              font-size: $font-size-small;
            }
          }
        }

        .status {

        }
      }
    }

    .instruction {
      font-size: $font-size-large;
      margin-bottom: 1rem;
      text-align: center;
    }

    .actions {
      display: flex;
      margin-right: 1rem;
      margin-bottom: 1rem;

      &:last-child {
        margin-right: 0;
      }

      .action {
        padding: .5rem .8rem;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        align-items: center;
        font-weight: bold;
        background-color: white;
        border: 2px solid;
      }
    }

    .empty {
      flex: 1;
    }

    .leave {
      align-self: flex-end;
      cursor: pointer;
      color: $color-hint;
    }
  }

  .board {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .map {
      font-size: .60vw;
      $map-width: 60vw;
      width: $map-width;
      height: $map-width / 1.6;
      position: relative;
      user-select: none;

      .svg {
        position: absolute;
        width: 100%;
        height: 100%;

        .link {
          stroke: $color-hint;
          stroke-width: .2px;
        }
      }
    }

    .attackContainer {
      .attack {
        display: flex;
        flex-direction: column;

        .player {
          display: flex;
          align-items: center;

          .name {
            display: flex;
            width: 10rem;
            align-items: center;
            justify-content: center;
            margin-right: 1rem;
            font-size: $font-size-large;
          }

          &.attacker {
            .name:after {
              content: ' (Attacker)';
              font-weight: normal;
              font-size: $font-size-medium;
            }
          }

          &.defender {
            .name:after {
              content: ' (Defender)';
              font-weight: normal;
              font-size: $font-size-medium;
            }
          }

          .dice {
            display: flex;

            .die {
              width: 4rem;
              height: 4rem;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: $color-background;
              margin: 1rem;
              font-size: $font-size-large;
              font-weight: bold;
              box-shadow: 1px 1px 0px #999,
              2px 2px 0px #999,
              3px 3px 0px #999,
              4px 4px 0px #999,
              5px 5px 0px #999,
              6px 6px 0px #999;
              transition: all .2s;

              @keyframes win {
                from {
                  transform: scale(1);
                  box-shadow: 1px 1px 0px #999,
                  2px 2px 0px #999,
                  3px 3px 0px #999,
                  4px 4px 0px #999,
                  5px 5px 0px #999,
                  6px 6px 0px #999,
                  0 0 0 0;
                }

                to {
                  transform: scale(1.2);
                  box-shadow: 1px 1px 0px #999,
                  2px 2px 0px #999,
                  3px 3px 0px #999,
                  4px 4px 0px #999,
                  5px 5px 0px #999,
                  6px 6px 0px #999,
                  0 0 1em .1em;
                }
              }

              @keyframes lose {
                from {
                  transform: scale(1);
                  opacity: 1;
                }

                to {
                  transform: scale(.8);
                  opacity: .2;
                }
              }

              &.win {
                animation: .5s win forwards;
              }

              &.lose {
                animation: .5s lose forwards
              }

              &.order-1 {
                animation-delay: 1s;
              }

              &.order-2 {
                animation-delay: 2s;
              }
            }
          }
        }
      }
    }

    .winnerContainer {
      font-size: 4rem;
      color: white;
    }

    .attackContainer,
    .winnerContainer {
      z-index: 3;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(black, .8);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all .2s;

      &:empty {
        background-color: rgba(black, 0);
        pointer-events: none;
      }
    }
  }
}

@media only screen and (orientation:portrait) {
  .Game {
    flex-direction: column;

    .sidebar {
      width: auto;
    }

    .board {
      .map {
        font-size: .88vw;
        $map-width: 88vw;
        width: $map-width;
        height: $map-width / 1.6;
      }
    }
  }
}
