@import "../../common/constants";

.Game {
  flex: 1;
  display: flex;

  .sidebar {
    width: 20rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    .title {
      align-self: center;
      font-size: $font-size-large;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .players {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      .player {
        flex: 1;
        padding: .5rem;
        display: flex;

        .turn {
          font-weight: bold;
        }

        .name {
          flex: 1;
          font-weight: bold;
          display: flex;
          align-items: center;

          &.you {
            &:after {
              content: ' (You)';
              font-weight: normal;
              font-size: $font-size-small;
            }
          }
        }

        .status {

        }

        &.current {
          border: 2px solid;
        }
      }
    }

    .instruction {
      font-size: $font-size-large;
    }
  }

  .board {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;

    .map {
      width: 64vw;
      height: 40vw;
      position: relative;
      margin: $territory-height / 2 $territory-width / 2;
      user-select: none;

      .svg {
        position: absolute;
        width: 100%;
        height: 100%;

        .link {
          stroke: $color-unclaimed;
          stroke-width: .2px;
        }
      }
    }

    .attackContainer {
      z-index: 3;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(black, .8);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all .2s;

      &:empty {
        background-color: rgba(black, 0);
        pointer-events: none;
      }

      .attack {
        display: flex;
        flex-direction: column;

        .player {
          display: flex;
          align-items: center;

          .name {
            display: flex;
            width: 10rem;
            align-items: center;
            justify-content: center;
            margin-right: 1rem;
            font-size: $font-size-large;
          }

          &.attacker {
            .name:after {
              content: ' (Attacker)';
              font-weight: normal;
              font-size: $font-size-medium;
            }
          }

          &.defender {
            .name:after {
              content: ' (Defender)';
              font-weight: normal;
              font-size: $font-size-medium;
            }
          }

          .dice {
            display: flex;

            .die {
              width: 4rem;
              height: 4rem;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: $color-background;
              margin: 1rem;
              font-size: $font-size-large;
              font-weight: bold;
              box-shadow: 1px 1px 0px #999,
              2px 2px 0px #999,
              3px 3px 0px #999,
              4px 4px 0px #999,
              5px 5px 0px #999,
              6px 6px 0px #999;
              transition: all .2s;

              @keyframes win {
                from {
                  transform: scale(1);
                  box-shadow: 1px 1px 0px #999,
                  2px 2px 0px #999,
                  3px 3px 0px #999,
                  4px 4px 0px #999,
                  5px 5px 0px #999,
                  6px 6px 0px #999,
                  0 0 0 0;
                }

                to {
                  transform: scale(1.2);
                  box-shadow: 1px 1px 0px #999,
                  2px 2px 0px #999,
                  3px 3px 0px #999,
                  4px 4px 0px #999,
                  5px 5px 0px #999,
                  6px 6px 0px #999,
                  0 0 1em .1em;
                }
              }

              @keyframes lose {
                from {
                  transform: scale(1);
                  opacity: 1;
                }

                to {
                  transform: scale(.8);
                  opacity: .2;
                }
              }

              &.win {
                animation: .5s win forwards;
              }

              &.lose {
                animation: .5s lose forwards
              }

              &.order-1 {
                animation-delay: 1s;
              }

              &.order-2 {
                animation-delay: 2s;
              }
            }
          }
        }
      }
    }
  }
}
